<!DOCTYPE html>
<html>
  <head>
    <title>Multiple Choice Quiz</title>
  </head>
  <body>
    <div id="app">
      <h1>Multiple Choice Quiz</h1>

      <!-- Title page -->
      <div v-show="currentPage == 1">
        Welcome to my quiz
        <button v-on:click="currentPage = 2">Test your knowledge</button>
      </div>
      <!-- Quiz page -->
      <div v-show="currentPage == 2">
        <div v-for="question in QUIZ">
          <h2>{{question.title}}</h2>
          {{question.questionText}}
          <!-- Possibly bad code -->
          <select v-model="userAnswer">
            <option v-on:click="isAllAnswered()">{{question.answers[0]}}</option>
            <option v-on:click="isAllAnswered()">{{question.answers[1]}}</option>
            <option v-on:click="isAllAnswered()">{{question.answers[2]}}</option>
            <option v-on:click="isAllAnswered()">{{question.answers[3]}}</option>
          </select>
        </div>
        <button :disabled="isDisabled">Submit Answers</button>
      </div>

      <!-- Score page -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
