<!DOCTYPE html>
<html>
  <head>
    <title>Multiple Choice Quiz</title>
  </head>
  <body>
    <div id="app">
      <h1>Multiple Choice Quiz</h1>

      <!-- Title page -->
      <div v-show="currentPage == 1">
        Welcome to my quiz
        <button v-on:click="currentPage = 2">Test your knowledge</button>
      </div>
      <!-- Quiz page -->
      <div v-show="currentPage == 2">
        <div v-for="question in QUIZ">
          <h2>{{question.title}}</h2>
          {{question.questionText}}
          <!-- Possibly bad code -->
          <select v-model="question.userAnswer">
            <option v-on:click="isAllAnswered(); calculateScore();">
              {{question.answers[0].text}}
            </option>
            <option v-on:click="isAllAnswered(); calculateScore();">
              {{question.answers[1].text}}
            </option>
            <option v-on:click="isAllAnswered(); calculateScore();">
              {{question.answers[2].text}}
            </option>
            <option v-on:click="isAllAnswered(); calculateScore();">
              {{question.answers[3].text}}
            </option>
          </select>
        </div>
        <button :disabled="isDisabled" v-on:click="currentPage = 3">
          Submit Answers
        </button>
      </div>
      <div v-show="currentPage == 3">
        <h2>Your Score</h2>
        {{totalCorrect}}/5
      </div>

      <!-- Score page -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
